/*--------------------------------------------------------------
>>> UNBLOB
--------------------------------------------------------------*/

.unblob {
	position: fixed;
	z-index: 2147483647;
	display: none;
	box-sizing: border-box;
	pointer-events: none;
	border: 2px solid #ef4fa6;
}

.unblob--visible {
	display: block;
}

.unblob__button {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 24px;
	height: 24px;
	padding: 8px;
	color: #fff;
	border-radius: 4px;
	background: #ef4fa6;
}

.unblob__button svg {
	fill: currentColor;
}